# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go files MUST use tabs
[*.go]
indent_style = tab
indent_size = 4

# HTML templates (standard Go template extensions included)
[*.{html,htm,tmpl,gohtml}]
indent_style = space
indent_size = 2