APP_ENV=development
PORT=8080
DB_PATH=./gthanks.sqlite3
GITHUB_TOKEN=
GITHUB_API_BASE_URL=https://api.github.com
GITHUB_REQUEST_TIMEOUT=10s
CACHE_TTL_SINGLE_REPO=1h
CACHE_TTL_USER_ORG=3h
GITHUB_MAX_CONCURRENCY=1
LOG_LEVEL=info
REQUEST_TIMEOUT=60s
SERVER_READ_TIMEOUT=5s
SERVER_WRITE_TIMEOUT=60s
